*
{
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: arial;
}
body{
    height: 200rem;
    position: relative;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(125deg, rgb(21, 125, 159), rgb(95, 190, 221));

    right: 0;
    border-bottom: #7eb8e7 solid .5px;
    z-index: 56;
}
.icon-container{
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -9rem;
}
.icon{
    width: 11rem;
}
.first-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0rem 12rem;
    font-size: 2rem;
}
.sub-heading:link:visited{
    padding: 2rem 2.5rem;
    color: white;
    text-decoration: none;
}
.sub-heading{
    padding: 2rem 2.8rem;
    color: white;
    text-decoration: none;
    transition: 3s;
}
.sub-heading:active, :hover{
    color: blue;
}
.dropdown{
    position: relative;
    display:inline-block;
    border-radius: 2rem;
    margin-left: -7rem;
    z-index: 7rem;

}
.dropbtn{
    color: white;
    border: none;
    text-decoration: none;
    text-transform: inherit;
    font-size: inherit;
    background-color: transparent;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16rem;
    z-index: 6;
    top:2rem;
    bottom: -7rem;
    border-radius: 1.2rem;
    transition: 3s;
}
.dropdown-content1{
    margin-top: -3rem;
}
.dropdown-content a{
    color: black;
    padding: 2rem 4rem;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    line-height: 2rem;
    z-index: 7rem;
    width: 10rem;
    background-color: inherit;
    transition: 5s;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
    transition: 5sec;

}
.third-section{
    padding-left: 11rem;
    width: 1rem;
}
.profile{
    width: 5.4rem;
    border-radius: 100px;
}
.headings{
    position: absolute;
    top:9.4rem ;
    left: 0;
    right: 0;
    background-image: linear-gradient(45deg,  rgb(12, 107, 139), rgb(95, 190, 221));

}
.headings__container{
    padding: 14rem 30rem;
    padding-bottom: 19rem;
    text-align: center;
}
.headings--1{
    font-size: 8rem;
    color: white;
    font-weight: 600;
    margin-bottom:1.4rem ;
}
.headings--2{
    font-size:3rem ;
    font-weight: 600;
    color: rgb(56, 107, 170);
    margin-bottom: 2rem;
}
.searching-section{
    margin-top: 3rem;
    display: flex;
    min-width: 62%;
    align-items: center;
    margin-left: -10rem;
}
.searchicon-container{
    width:12rem;
    height: 6.8rem;
    padding: 2.2rem 2.6rem;
    background-color: white;
    border-radius: 104px;
    display: inline-block;
    position: absolute;
    left: 35rem;
}

.searchicon{
    width: 3.4rem;
    position: absolute;
    top: 3.6rem;
    left: 4.2rem;
}
.searchbox{
    border: none;
    background-color: white;
    height:11rem;
    z-index: 55;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    flex: 1;
    position: relative;

    outline: none !important;
    color: gray;
}
.searchbox::placeholder{
    font-size: 2.9rem;
    padding-left: .4rem;
}
.search-button-container{
    padding: 1.488rem;
    background-color: white;
    border-radius: 104px;
    display: inline-block;
    position: absolute;
    right: 35rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.search-button{
    border: none;
    color: #f9f9f9;
    padding: 2.4rem 4.3rem;
    font-size: 3rem;
    background-image:linear-gradient( 90deg,  #64bcd7,  #83d0ef);
    border-radius: 11111px;
    transition:all .9sec;
    z-index: 6567;
}
.search-button:hover{
    cursor: pointer;
    background-image: linear-gradient(darkblue, darkblue);
}